<h2>ー 編集 ー</h2>

<nav>
    <ul>
        <li><%= link_to "アカウント", users_account_path %></li>
        <li><%= link_to "プロフィール", users_profile_path %></li>
    </ul>
</nav>

<%= form_with url: users_profile_update_path,class: "form" do |f| %>

    <p>アイコン</p>
    <%= f.file_field :image %>

    <p>名前</p>
    <%= f.text_field :username, value: @user.username %>

    <p>自己紹介</p>
    <%= f.text_field :introduce, value: @user.introduce %>

    <%= f.submit "更新" %>
<% end %>

<%= link_to "キャンセル", :back, {class: "button"} %>
