<div class="background-color">
  <h2>ログイン</h2>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
        <%= button_to "アカウントの新規作成", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
