<div class="search">
    <h3>投稿を検索</h3>

    <%= form_tag({controller:"rooms",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する' %>
    <% end %>

    <h3>エリアを検索</h3>

    <%= form_tag({controller:"rooms",action:"index"}, method: :get) do %>
        <%= text_field_tag :area %>
        <%= submit_tag '検索する' %>
    <% end %>

    <h2 class="total">検索結果：<%= @room.count %>件が見つかりました。</h2>
</div>


    <% @room.each do |r| %>
    <div class="index-room">
        <% if r.image.attached? %>
            <%= image_tag r.image, :size => '340x160' %>
        <% else %>
            <%= image_tag("default_room.png", :size => "340x160") %>
        <% end %>

        <h1><%= link_to r.accommodation, room_path(r) %></h1>
        <h3><%= r.address %></h3>
        <p class="index-guide"><%= r.guide %></p>
        <h3 class="index-item"><%= number_to_currency(r.charge, unit: "¥", format: "%u %n", strip_insignificant_zeros: true) %></h3>
        <h3 class="index-item"><%= link_to "詳細はこちら", room_path(r) %></h3>
        </div>
    <% end %>

