<h2>ー 施設詳細 ー</h2>
<div class="room-image">
    <% if @room.image.attached? %>
        <%= image_tag @room.image, :size => '50x50' %>
    <% else %>
        <%= image_tag("default_room.png") %>
    <% end %>
</div>


<table>
    <tr>
        <td><%= @room.accommodation %></td>
    </tr>
    <tr>
        <td><%= @room.guide %></td>
    </tr>
    <tr>
        <td>¥<%= @room.charge %></td>
    </tr>
    <tr>
        <td><%= @room.address %></td>
    </tr>
</table>

<div class="btn">
    <% if user_signed_in? %>
        <% if @room.user_id == current_user.id %>
            <%= link_to "編集", edit_room_path(@room) %>
        <% end %>
    <% end %>

<%= link_to "戻る", :back %>
</div>
